.adminEvents__content {
  margin-left: 300px;
  background: #f7fafc;
}

.adminEvents__main {
  padding: 30px 2rem;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.adminEvents__main .eventItem {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 9px 3px rgba(50, 52, 64, 0.05);
  overflow: hidden;
}
.adminEvents__main .eventItem__body {
  padding: 20px;
}
.adminEvents__main .eventItem__body p {
  margin-bottom: 10px;
}
.adminEvents__main .eventItem__footer {
  padding: 10px;
  display:flex;
  justify-content: space-between;
}

