header {
  width: 100%;
  height: 80px;
  padding: 20px;
  position: fixed;
  background: #fff;
  box-shadow: 0 2px 9px 3px rgba(50, 52, 64, 0.05);
}

.navbar {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: rgba(66, 59, 96, 1);
  font-weight: bold;
  flex: 1;
}
.logo a {
  color: #007ffd;
  font-weight: bold;
}
.navbar li {
  margin-right: 30px;
  list-style: none;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__link {
  color: #02044a;
  font-size: 15px;
  font-weight: 300;
}
.menu-icon {
  display: none;
}
.menu-icon i {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  .menu-icon {
    display: block;
  }
  .navbar__links {
    position: absolute;
    width: 100vw;
    top: 80px;
    left: -100%;
    opacity: 0;
    height: 100vh;
    background: #007ffd;
    transition: all ease 0.2s;
    display: block;
    z-index: 99;
  }
  .navbar__links.active {
    left: 0;
    opacity: 1;
  }

  .navbar__links li {
    width: 100%;
  }
  .navbar__links li:hover {
    background: #5d9fe0;
  }
  .navbar__link {
    width: 100%;
    padding: 2rem 3.5rem;
    border-bottom: 1px solid #5d9fe0;
    color: #fff;
    display: block;
  }
}
