.allSermons__content {
  margin-left: 300px;
  background: #f7fafc;
}
.allSermons__main {
  padding: 30px 2rem;
}
.allSermons__content a.btn {
  padding: 6px 20px;
  display: block;
}

table {
  width: 100%;
}
table td {
  background: #f7fafa;
  padding: 10px;
}
thead {
  margin: 0;
  padding: 20px;
  color: #fff;
  background: #007dfafa;
}

